button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.beamer-box-content {
    padding: 1rem;
  }
